header = '<%= j(render(partial: 'ws/components/body/info_header', locals: {participants: @participants}))%>'
send_message_form = '<%= j(render(partial: 'ws/components/forms/reply_form', locals: {convo_id: @convo_id}))%>'
$('.message-input > .wrap').html(send_message_form);
$('.contact-profile').html(header);
'<% if @message.present? %>'
body = '<%= j(render(partial: 'ws/components/body/message_list', collection: @messages, as: :message))%>'
$('.messages > ul').addClass('list_convo_<%=@convo_id%>');
$(`.c_filler_<%=@convo_id%>`).addClass('active');
// $('#contact_list').animate({
//     scrollTop: ($('#contact_list li.c_filler_<%=@convo_id%>').position().top - $('#contact_list li:first').position().top)
// }, $('#contact_list li.c_filler_<%=@convo_id%>').position().top - $('#contact_list li:first').position().top)
$('.messages > ul').html(body);
'<% else%>'
$('.messages > ul').empty();
'<%end%>'
