header = '<%= j(render(partial: 'ws/components/body/info_header', locals: {participants: @users}))%>'
send_message_form = '<%= j(render(partial: 'ws/components/forms/send_message_form', locals: {participants: @users}))%>'
$('.message-input > .wrap').html(send_message_form);
$('.contact-profile').html(header);
$('.messages').html("<ul></ul>")