sidepanel_profile = '<%= j(render(partial: "ws/components/side_panel/profile"))%>'
'<% if @conversations.present? %>'
sidepanel_contacts = '<%= j(render(partial: "ws/components/side_panel/conversation_list",collection: @conversations, as: :conversation)) %>'
'<% else %>'
sidepanel_contacts = '<div>No conversations</div>';
'<% end %>'
$('#profile > .wrap').html(sidepanel_profile);
$('#contacts > ul').append(sidepanel_contacts);