console.log('<%= @message.conversation_id%>');
console.log($('.c_filler_id:contains("<%=@message.conversation_id%>")'))
<%=ActionCable.server.broadcast "conversation_#{current_user.id}_channel",conversation_id: @message.conversation_id,user_id: current_user.id%>
$('#message_body').val("");
new_message = '<%= j(render(partial: 'ws/components/body/message_list', local: {message: @message}))%>'
$('.preview.c_filler_<%=@message.conversation_id%>').text("<%=@message.body%>");