.participant_image
  %img{:alt => "", :src => "#{format_avatar(participants, current_user.avatar)}"}/
.participant_names
  %p= format_participants(participants.select{|p| p.id != current_user.id})
.social-media
  %i.fa.fa-facebook{"aria-hidden" => "true"}
  %i.fa.fa-twitter{"aria-hidden" => "true"}
  %i.fa.fa-instagram{"aria-hidden" => "true"}


