%li{class: "#{is_sender(message[:sender])}"}
  %img{:alt => "", :src => "http://emilcarlsson.se/assets/mikeross.png"}/
  .message_container
    %p= message[:body]
    .tooltip{class: "arrow_box #{is_sender(message[:sender]) == "sent" ?  "arrow_box_right" : "arrow_box_left"}"}= message[:created_at]
  -# %li.replies
  -#   %img{:alt => "", :src => "http://emilcarlsson.se/assets/harveyspecter.png"}/
  -#   %p When you're backed against the wall, break the god damn thing down.
  