-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :fullname
-#     %br/
-#     = f.text_field :fullname, autofocus: true, autocomplete: "fullname"
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "ws/users/shared/links"

.session-container
  .session-left
    .session-left-container
      %h1 Dispatch
      .links     
        = link_to "Already have an account?", session_path(resource_name),"data-turbolinks": "false"
  .session-right
    -# = render "devise/shared/error_messages", resource: resource
    .session-right-content
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name), class: "registration-form") do |f|
        .field4
          .mdc-text-field.mdc-text-field--outlined
            = f.text_field :fullname, id: "text-field-hero-input1",class: "mdc-text-field__input",autocomplete: "name",required: true
            .icon-container
              %i.material-icons person
            .mdc-notched-outline
              .mdc-notched-outline__leading
              .mdc-notched-outline__notch
                %label.mdc-floating-label{:for => "text-field-hero-input"} Fullname
              .mdc-notched-outline__trailing
        .field4
          .mdc-text-field.mdc-text-field1.mdc-text-field--outlined
            = f.email_field :email, id: "text-field-hero-input2",class: "mdc-text-field__input",required: true
            .icon-container
              %i.material-icons email
            .mdc-notched-outline
              .mdc-notched-outline__leading
              .mdc-notched-outline__notch
                %label.mdc-floating-label{:for => "text-field-hero-input"} Email
              .mdc-notched-outline__trailing
        .field4
          .mdc-text-field.mdc-text-field2.mdc-text-field--outlined
            = f.password_field :password, id: "text-field-hero-input3",class: "mdc-text-field__input", required: true
            .icon-container
              %i.material-icons lock
            .mdc-notched-outline
              .mdc-notched-outline__leading
              .mdc-notched-outline__notch
                %label.mdc-floating-label{:for => "text-field-hero-input"} Password
              .mdc-notched-outline__trailing
        .field4
          .mdc-text-field.mdc-text-field3.mdc-text-field--outlined
            = f.password_field :password_confirmation, id: "text-field-hero-input4",class: "mdc-text-field__input", required: true
            .icon-container
              %i.material-icons lock
            .mdc-notched-outline
              .mdc-notched-outline__leading
              .mdc-notched-outline__notch
                %label.mdc-floating-label{:for => "text-field-hero-input"} Confirm password
              .mdc-notched-outline__trailing
        .field4
          .mdc-form-field
            .mdc-checkbox
              = f.check_box :remember_me, class: "mdc-checkbox__native-control"
              .mdc-checkbox__background
                %svg.mdc-checkbox__checkmark{:viewbox => "0 0 24 24"}
                  %path.mdc-checkbox__checkmark-path{:d => "M1.73,12.91 8.1,19.28 22.79,4.59", :fill => "none"}
                .mdc-checkbox__mixedmark
            = f.label :remember_me
        .field4.text-center
          .actions
            = f.submit "Sign up", class: "mdc-button mdc-button--raised"
        -# .links.text-center   
        -#   = link_to "Forgot your password?", new_password_path(resource_name)