// Place all the styles related to the ws/Conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  
  // display: flex;
  // align-items: center;
  // justify-content: center;
  min-height: 100vh;
  // background: #27ae60;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}
.arrow_box {
	// position: relative;
	background: #080b0d;
	border: 4px solid #08090a;
}
.arrow_box:after, .arrow_box:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(8, 11, 13, 0);
  border-width: 10px;
  margin-top: -3px;
}
.arrow_box:before {
	border-color: rgba(8, 9, 10, 0);
  border-width: 10px;
  margin-top: -3px;

}
.arrow_box_right{
  &.arrow_box:before,
  &.arrow_box:after{
    border-right-color: #08090a;
    right: 100%;
  }
	left: 106%;
	// top: 50%;
}
.arrow_box_left{
  &.arrow_box:before,
  &.arrow_box:after{
    border-left-color: #08090a;
    left: 100%;
  }
  right: 106%;
	// top: 50%;
}
#frame {
  width: 100%;
  min-width: 360px;
  // max-width: 1000px;
  height: 100vh;
  // height: 100vh;
  min-height: 300px;
  // max-height: 720px;
  background: #E6EAEA;
  #sidepanel {
    float: left;
    // min-width: 280px;
    max-width: 320px;
    width: 30%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
    #profile {
      width: 80%;
      margin: 25px auto;
      &.expanded .wrap {
        height: 210px;
        line-height: initial;
        p {
          margin-top: 20px;
        }
        i.expand-button {
          -moz-transform: scaleY(-1);
          -o-transform: scaleY(-1);
          -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
      }
      .wrap {
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        -moz-transition: 0.3s height ease;
        -o-transition: 0.3s height ease;
        -webkit-transition: 0.3s height ease;
        transition: 0.3s height ease;
        img {
          width: 50px;
          border-radius: 50%;
          padding: 3px;
          // border: 2px solid #e74c3c;
          height: auto;
          float: left;
          cursor: pointer;
          -moz-transition: 0.3s border ease;
          -o-transition: 0.3s border ease;
          -webkit-transition: 0.3s border ease;
          transition: 0.3s border ease;
          &.online {
            border: 2px solid #2ecc71;
          }
          &.away {
            border: 2px solid #f1c40f;
          }
          &.busy {
            border: 2px solid #e74c3c;
          }
          &.offline {
            border: 2px solid #95a5a6;
          }
        }
        p {
          float: left;
          margin-left: 15px;
        }
        i.expand-button {
          float: right;
          margin-top: 23px;
          font-size: 0.8em;
          cursor: pointer;
          color: #435f7a;
        }
        #status-options {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          width: 150px;
          margin: 70px 0 0 0;
          border-radius: 6px;
          z-index: 99;
          line-height: initial;
          background: #435f7a;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          &.active {
            opacity: 1;
            visibility: visible;
            margin: 75px 0 0 0;
          }
          &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 8px solid #435f7a;
            margin: -8px 0 0 24px;
          }
          ul {
            overflow: hidden;
            border-radius: 6px;
            li {
              padding: 15px 0 30px 18px;
              display: block;
              cursor: pointer;
              &:hover {
                background: #496886;
              }
              span.status-circle {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: 5px 0 0 0;
                &:before {
                  content: '';
                  position: absolute;
                  width: 14px;
                  height: 14px;
                  margin: -3px 0 0 -3px;
                  background: transparent;
                  border-radius: 50%;
                  z-index: 0;
                }
              }
              p {
                padding-left: 12px;
              }
              &#status-online {
                span.status-circle {
                  background: #2ecc71;
                }
                &.active span.status-circle:before {
                  border: 1px solid #2ecc71;
                }
              }
              &#status-away {
                span.status-circle {
                  background: #f1c40f;
                }
                &.active span.status-circle:before {
                  border: 1px solid #f1c40f;
                }
              }
              &#status-busy {
                span.status-circle {
                  background: #e74c3c;
                }
                &.active span.status-circle:before {
                  border: 1px solid #e74c3c;
                }
              }
              &#status-offline {
                span.status-circle {
                  background: #95a5a6;
                }
                &.active span.status-circle:before {
                  border: 1px solid #95a5a6;
                }
              }
            }
          }
        }
        #expanded {
          padding: 100px 0 0 0;
          display: block;
          line-height: initial !important;
          label {
            float: left;
            clear: both;
            margin: 0 8px 5px 0;
            padding: 5px 0;
          }
          input {
            border: none;
            margin-bottom: 6px;
            background: #32465a;
            border-radius: 3px;
            color: #f5f5f5;
            padding: 7px;
            width: calc(100% - 43px);
            &:focus {
              outline: none;
              background: #435f7a;
            }
          }
        }
      }
    }
    #search {
      border-top: 1px solid #32465a;
      border-bottom: 1px solid #32465a;
      font-weight: 300;
      label {
        position: absolute;
        margin: 10px 0 0 20px;
      }
      input {
        font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
        padding: 10px 0 10px 46px;
        // width: calc(100% - 25px);
        border: none;
        background: #32465a;
        color: #f5f5f5;
        &:focus {
          outline: none;
          background: #435f7a;
        }
        &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
          color: #f5f5f5;
        }
      }
    }
    #contacts {
      height: calc(100% - 154px);
      padding: 0 0 20px 0;
      // overflow-y: scroll;
      // overflow-x: hidden;
      &.expanded {
        height: calc(100% - 334px);
      }
      
      ul{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        padding: 0;
        &::-webkit-scrollbar {
          width: 8px;
          background: #2c3e50;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #243140;
        }
      }
      ul li.contact, ul li.search_contact {
        position: relative;
        padding: 10px 0 15px 0;
        font-size: 0.9em;
        list-style-type: none;
        margin: 5px 0 5px 5px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background: #32465a;
        }
        &.active {
          background: #32465a;
          border-right: 5px solid #435f7a;
          span.contact-status {
            border: 2px solid #32465a !important;
          }
        }
        .wrap {
          width: 88%;
          margin: 0 auto;
          position: relative;
          span {
            position: absolute;
            left: 0;
            margin: -2px 0 0 -2px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #2c3e50;
            background: #95a5a6;
            &.online {
              background: #2ecc71;
            }
            &.away {
              background: #f1c40f;
            }
            &.busy {
              background: #e74c3c;
            }
          }
          img {
            width: 40px;
            border-radius: 50%;
            float: left;
            margin-right: 10px;
          }
          .meta {
            padding: 5px 0 0 0;
            .name {
              font-weight: 600;
            }
            .preview {
              margin: 5px 0 0 0;
              padding: 0 0 1px;
              font-weight: 400;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -moz-transition: 1s all ease;
              -o-transition: 1s all ease;
              -webkit-transition: 1s all ease;
              transition: 1s all ease;
              span {
                position: initial;
                border-radius: initial;
                background: none;
                border: none;
                padding: 0 2px 0 0;
                margin: 0 0 0 1px;
                opacity: .5;
              }
            }
          }
        }
      }
    }
    #bottom-bar {
      position: absolute;
      width: 100%;
      bottom: 0;
      button {
        float: left;
        border: none;
        width: 50%;
        padding: 10px 0;
        background: #32465a;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 0.85em;
        font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
        &:focus {
          outline: none;
        }
        &:nth-child(1) {
          border-right: 1px solid #2c3e50;
        }
        &:hover {
          background: #435f7a;
        }
        i {
          margin-right: 3px;
          font-size: 1em;
        }
      }
    }
  }
  .content {
    float: right;
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .contact-profile {
      width: 100%;
      height: 60px;
      // line-height: 60px;
      background: #f5f5f5;
      .participant_image{
        display: flex;
        float: left;
        align-items: center;
        height: 100%;
        img {
          width: 40px;
          border-radius: 50%;
          float: left;
          margin: 0px 12px 0 9px;
        }
      }
      .participant_names{
        float: left;
        height: 100%;
        display: flex;
        float: left;
        align-items: center;
        p {
          margin: 0;
        }
      }
      .social-media {
        float: right;
        height: 100%;
        display: flex;
        align-items: center;
        i {
          margin-left: 14px;
          cursor: pointer;
          &:nth-last-child(1) {
            margin-right: 20px;
          }
          &:hover {
            color: #435f7a;
          }
        }
      }
    }
    .messages {
      width: 100%;
      height: auto;
      min-height: calc(100% - 93px);
      max-height: calc(100% - 93px);
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 5px;
      .new-message-notification{
        background-color: #2c3e50;
        border-radius: 10px;
        color: white;
        width: 40%;
        height: 5%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        max-height: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        opacity: 0;
        align-items: center;
        button{
          border: none;
          background: none;
          color: white;
        }
      }
      &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
      }
      ul {
        padding-inline-start: 0;
      }
      ul li {
        display: inline-block;
        clear: both;
        float: left;
        margin: 4px 5px;
        // width: calc(100% - 25px);
        width: 100%;
        font-size: 0.9em;
        &:nth-last-child(1) {
          // margin-bottom: 20px;
        }
        &.sent {
          img {
            margin: 6px 8px 0 0;
          }
          .message_container{
            float: left;
            .tooltip{
              right: 105%;
            }
          }
          p {
            background: #435f7a;
            color: #f5f5f5;
          }
        }
        &.replies {
          img {
            float: right;
            margin: 6px 0 0 8px;
          }
          .message_container{
            float: right;
            .tooltip{
              right: 106%;
            }
          }
          p {
            overflow-wrap: break-word;
            background: #f5f5f5;
            float: right;
          }
          span{
            float: right;
            width: 100%;
            text-align: right;
          }
        }

        img {
          width: 22px;
          border-radius: 50%;
          float: left;
        }
        p {
          display: inline-block;
          padding: 10px 15px;
          border-radius: 20px;
          max-width: 205px;
          line-height: 130%;
          margin-bottom: 0;
        }
        span{
          display: block;
        }
        .message_container {
          display: flex;
          align-items: center;
          position: relative;
          .tooltip{
            width: max-content;
            color: white;
            font-size: 10px;
            padding: 0 3px;
          }
        }
        .message_container:hover .tooltip{
          opacity: 1;
        }
      }
    }
    .message-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
      .wrap {
        position: relative;
        input {
          font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
          float: left;
          border: none;
          width: calc(100% - 90px);
          padding: 11px 32px 10px 8px;
          font-size: 0.8em;
          color: #32465a;
          &:focus {
            outline: none;
          }
        }
        .attachment {
          position: absolute;
          right: 60px;
          z-index: 4;
          margin-top: 10px;
          font-size: 1.1em;
          color: #435f7a;
          opacity: .5;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
        button {
          float: right;
          border: none;
          width: 50px;
          padding: 8px 0;
          cursor: pointer;
          background: #32465a;
          color: #f5f5f5;
          &:hover {
            background: #435f7a;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 67px;
    min-width: 67px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 48px);
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button span {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 67px);
    // min-width: 300px !important;
  }
}

@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 320px);
    min-width: 70%;
  }
}

@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}

@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
} 


.search_list{
  -webkit-box-shadow: 11px 12px 10px -9px rgba(58,107,81,1);
  -moz-box-shadow: 11px 12px 10px -9px rgba(58,107,81,1);
  box-shadow: 11px 12px 10px -9px rgba(58,107,81,1);
  height: 100%;
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: #2c3e50;
  display: none;
  button{
    color: white;
    height: 10%;
  }
  ul{
    width: 100%;
  }
}
.close{
  position: absolute;
  right: 0px;
  top: 4px;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 2px;
}

.d{    position: relative;
}
  .search_input{
    width: 100%;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
  }
  