-# = form_for :message,url: '', remote: true, html: {'data-type' => 'js',:multipart => true } do |f|
-#   = f.text_field :body, placeholder: "Write your message..."
-#   = f.hidden_field :id, value: "#{convo_id}"
-#   %i.fa.fa-paperclip.attachment{"aria-hidden" => "true"}
-#   %button.submit.reply_button{type: 'button'}
-#     %i.fa.fa-paper-plane{"aria-hidden" => "true"}

= text_field_tag :message_body,'',placeholder: "Write your message..."
= hidden_field_tag :convo_id,"#{convo_id}"
%i.fa.fa-paperclip.attachment{"aria-hidden" => "true"}
%button.submit.reply_button{type: 'button'}
    %i.fa.fa-paper-plane{"aria-hidden" => "true"}