= text_field_tag :message_body, '' ,placeholder: "Write your message..."
= hidden_field_tag :receiver_id, "#{participants.map(&:id)}"
%i.fa.fa-paperclip.attachment{"aria-hidden" => "true"}
%button.submit.send_button{type: 'button'}
    %i.fa.fa-paper-plane{"aria-hidden" => "true"}

