.field2{
    margin: 10% 0 0 0;
}
.field4{
    margin: 5% 0 0 0;
}
.text-center{
    text-align: center;
}
.divider{
    display: flex;
    hr{
        width: 40%;
        float: left;
    }
    h5{
        float: left;
    }
}
.icons{
    width: 20%;
}
.links{
    padding: 4px 0;
    a{
        color: black;
        text-decoration: underline;
        text-underline-position: under;
        font-size: 15px;
    }
    a:hover{
        color: #018786;
    }
}   
.session-container{
    width: 100%;
    height: 100vh;
    .session-left{
        float: left;
        // width: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        .session-left-container{
            // height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: 8rem;
                margin: 0px;
              }
            .links{
                margin-top: 5%;

                a{
                    font-size: 20px;
                    padding: 4px 0;
                }
            }   
        }
      
    }
    .session-right{
        float: left;
        // width: 50%;
        display: flex;
        justify-content: center;
        .session-right-content{
            width: 50%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-weight: 900;
                font-size: 50px;
                height: 12%;
                display: flex;
                align-items: center;
            }
            .sign-in-form{
                height: 62%;
            }
            .registration-form{
                height: 70%;
            }
            .social-sign-in{
                display: flex;
                justify-content: space-evenly;
                margin: 4% 0;
                a{
                    text-align: center;

                }
            }
            .mdc-text-field{
                width: 100%;
                .icon-container{
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .material-icons{
                        font-size: 19px; 
                    }
                }
            }
            .mdc-button{
                background-color: #018786;
                font-size: 15px;
                font-weight: 900;
                padding: 0 30px;
                height: 50px;
            }
          
        }
    }
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing
{
    border-color: #018786!important;
    border-color: var(--mdc-theme-primary, #018786)!important;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    color:#018786!important;
}
@media all and (min-width: 900px) and (orientation: landscape){
    .session-left{
        width: 50%;
        height: 100vh;

    }
    .session-right{
        width: 50%;
        height: 100vh;
    }
  }
  @media all and (min-width: 900px) and (orientation: portrait){
    .session-left{
        width: 100%;
    }
    .session-right{
        width: 100%;
    }
  }
  @media all and (max-width: 900px) {
    .session-left{
        width: 100%;
        height: 30%;
    }
    .session-right{
        width: 100%;
    }
  }
