- page_header "Your Conversations"
#frame
  #sidepanel
    #profile
      = hidden_field_tag :id, current_user.id
      = link_to "Logout", ws_users_sign_out_path, method: 'delete'
      .wrap

    #search
      %label{:for => ""}
        %i.fa.fa-search{"aria-hidden" => "true"}
      %input.search_input{:placeholder => "Search contacts...", :type => "text"}/
    #contacts
      .search_list
        %ul
      %ul#contact_list
    -# #bottom-bar
    -#   %button#addcontact
    -#     %i.fa.fa-user-plus.fa-fw{"aria-hidden" => "true"}
    -#     %span Add contact
    -#   %button#settings
    -#     %i.fa.fa-cog.fa-fw{"aria-hidden" => "true"}
    -#     %span Settings
  .content
    .contact-profile
      
    .messages
      .new-message-notification  
        %button New message received
      %ul
    .message-input
      .wrap