-# - if devise_mapping.omniauthable?
  -# - resource_class.omniauth_providers.each do |provider|
    -# = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
.session-container
  .session-left
    .session-left-container
      %h1 Dispatch
      .links     
        = link_to "Create an account", new_registration_path(resource_name),"data-turbolinks": "false"
  .session-right
    .session-right-content
      %h2 Sign in
      .social-sign-in
        =link_to image_tag('/gmail.png', alt: '', class: 'icons'), omniauth_authorize_path(resource_name, "google_oauth2")
        =link_to image_tag('/facebook.png', alt: '', class: 'icons'),omniauth_authorize_path(resource_name, "facebook")

      .divider
        %hr
        %h5 or
        %hr
      = form_for(resource, as: resource_name, url: session_path(resource_name), class: "sign-in-form") do |f|
        .field2
          .mdc-text-field.mdc-text-field1.mdc-text-field--outlined
            = f.email_field :email, id: "text-field-hero-input2",class: "mdc-text-field__input",required: true
            .icon-container
              %i.material-icons email
            .mdc-notched-outline
              .mdc-notched-outline__leading
              .mdc-notched-outline__notch
                %label.mdc-floating-label{:for => "text-field-hero-input"} Email
              .mdc-notched-outline__trailing
        .field2
          .mdc-text-field.mdc-text-field2.mdc-text-field--outlined
            = f.password_field :password, id: "text-field-hero-input3",class: "mdc-text-field__input", required: true
            .icon-container
              %i.material-icons lock
            .mdc-notched-outline
              .mdc-notched-outline__leading
              .mdc-notched-outline__notch
                %label.mdc-floating-label{:for => "text-field-hero-input"} Password
              .mdc-notched-outline__trailing
        .field2
          .mdc-form-field
            .mdc-checkbox
              = f.check_box :remember_me, class: "mdc-checkbox__native-control"
              .mdc-checkbox__background
                %svg.mdc-checkbox__checkmark{:viewbox => "0 0 24 24"}
                  %path.mdc-checkbox__checkmark-path{:d => "M1.73,12.91 8.1,19.28 22.79,4.59", :fill => "none"}
                .mdc-checkbox__mixedmark
            = f.label :remember_me
        .field2.text-center
          .actions
            = f.submit "Sign in", class: "mdc-button mdc-button--raised"
        -# .links.text-center   
        -#   = link_to "Forgot your password?", new_password_path(resource_name)