- if participants.length > 1
  %li.contact{class: "c_filler_#{conversation.id}"}
    .wrap
      %span.c_filler_id= conversation.id
      %span.contact-status{class: "#{participants.length > 2 ? 'away' : participants.first.online? ? 'online' : 'offline'}"}
      %img{:alt => "", :src => "#{format_avatar_for_socket(participants,sender_id)}"}/
      .meta
        %p.name= format_participants(participants.select{|p|p.id != user_id})
        %p.preview= last_message
- else
  %li.contact{class: "c_filler_#{conversation.id}"}
    .wrap
      %span.c_filler_id= conversation.id
      %span.contact-status{class: "u_filler_#{participants.map(&:id).empty? ? user_id : participants.first.id} #{participants.empty? ? "online" : participants.first.online?}"}
      %img{:alt => "", :src => "#{format_avatar_for_socket(participants,sender_id)}"}/
      .meta
        %p.name= format_participants(participants.select{|p|p.id != user_id})
        %p.preview= last_message