- if conversation[:participants].length > 1
  %li.contact{class: "c_filler_id_#{conversation[:id]}"}
    .wrap
      %span.c_filler_id= conversation[:id]
      %span.contact-status{class: "#{conversation[:participants].length > 2 ? 'away' : conversation[:participants].first.online? ? 'online' : 'offline'}"}
      %img{:alt => "", :src => "#{format_avatar(conversation[:participants],current_user.avatar)}"}/
      .meta
        %p.name= format_participants(conversation[:participants])
        %p.preview= conversation[:last_message]
- else
  %li.contact{class: "c_filler_#{conversation[:id]}"}
    .wrap
      %span.c_filler_id= conversation[:id]
      %span.contact-status{class: "u_filler_#{conversation[:participants].map(&:id).empty? ? current_user.id : conversation[:participants].first.id} #{conversation[:participants].empty? ? "online" : conversation[:participants].first.online?}"}
      %img{:alt => "", :src => "#{format_avatar(conversation[:participants], current_user.avatar)}"}/
      .meta
        %p.name= format_participants(conversation[:participants])
        %p.preview= conversation[:last_message]