%img#profile-img.online{:alt => "", :src => "#{current_user.avatar? ? current_user.avatar : 'http://emilcarlsson.se/assets/mikeross.png'}"}/
%p= current_user.fullname
%i.fa.fa-chevron-down.expand-button{"aria-hidden" => "true"}
#status-options
  %ul
    %li#status-online.active
      %span.status-circle
      %p Online
    %li#status-away
      %span.status-circle
      %p Away
    %li#status-busy
      %span.status-circle
      %p Busy
    %li#status-offline
      %span.status-circle
      %p Offline
#expanded
  %label{:for => "twitter"}
    %i.fa.fa-facebook.fa-fw{"aria-hidden" => "true"}
  %input{:name => "twitter", :type => "text", :value => "mikeross"}/
  %label{:for => "twitter"}
    %i.fa.fa-twitter.fa-fw{"aria-hidden" => "true"}
  %input{:name => "twitter", :type => "text", :value => "ross81"}/
  %label{:for => "twitter"}
    %i.fa.fa-instagram.fa-fw{"aria-hidden" => "true"}
  %input{:name => "twitter", :type => "text", :value => "mike.ross"}/