%li.search_contact
  .wrap
    %span.contact-status.online
    %img{:alt => "", :src => "#{contact.avatar? ? contact.avatar : 'http://emilcarlsson.se/assets/mikeross.png'}"}
    .meta
      %p.name= contact.fullname
      = hidden_field :id, contact.id